<%= fb_connect_javascript_tag %>
<%= init_fb_connect "XFBML" %>

<h2 style="display: inline;">Get started now...</h2>
<%= fb_login_button "window.location = '/users/login/'", "large", "long" %><br /><br />
<h2> What is torrentphobe?</h2>
<p class="landing">
Torrentphobe is an innovative new service which allows you to easily and privately share files with your friends. Just like you, we love torrents, but while torrents are incredibly fast and efficient  they aren't exactly private. Say you have a file that you want to share with a few friends, what are your options? Well you could use a file uploading website, but who can fit any real files in their tiny space limits along with remembering yet another website login? No thanks.You could upload a torrent to a public tracker but do you really want to share your files with everyone around the world? With Torrentpho.be you get the best of both worlds. You don't have to deal with the space limits on websites and you can privately share torrents with your friends, you don't even need to create an account with us, just login with your Facebook account and you are ready to do some sharing.</p>

<h2>Want to know more?</h2>
<p class="landing">Head on over to our <%= link_to "about page", {:controller => :landing, :action=>:about }, :id => "footer" %>  to read more about how this service was started, and the brains behind it.</p>
