<%= fb_connect_javascript_tag %>
<%= init_fb_connect "XFBML" %>

<h2>Get started now...<%= fb_login_button "window.location = '/users/login/'", "large", "long" %> </h2>
<br />
<h2> What is torrentphobe?</h2>
<p class="landing"> torrentphobe is an innovative new service which allows you to easily and privately share files with your friends. </p>

