<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en" xml:lang="en">
<head>
<title>torrentpho.be</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag 'styles', :media => "all" %>
<%= javascript_include_tag :defaults %>
</head>
<body style="background-color: #000;">
<div id="header">
<h4 style="padding: 80px 0 0 100px;">Welcome to...</h4>
</div>
<div id="content" style="background-color: black;">
	<%= yield :layout %>
</div>
</body>
</html>
