<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>torrentpho.be</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag 'styles', :media => "all" %>

</head>
<body>
<div id="header">
</div>
<div id="tabs">
	<ul>
		<li><a class="main" href="/">Home</a></li>
		<li><a class="bg" href="/">Profile</a></li>
		<li><a class="bg" href="/">Settings</a></li>
		<li><a class="bg" href="/">Logout</a></li>
	</ul>
</div>
<div id="main">
	<div id="content">
	<%= yield :layout %>
	</div>
</div>
<div id="footer">
	footer
</div>
</body>
</html>
