<br />
<div style="text-align: center;">
<h1>Meet The Team</h1>
<table id="team">
<tr>
  <td style="background-image: url(images/shashank.jpg);">
    <a href="http://cs.ucsb.edu/~shashank/"><br /><br /><br /><br />Shashank</a>
  </td>

  <td style="background-image: url(images/adam.jpg);">
    <a href="http://cs.ucsb.edu/~adoupe/"><br /><br /><br /><br />Adam</a>
  </td>

  <td style="background-image: url(images/jeff.jpg);">
    <a href="http://cs.ucsb.edu/~jbrowne/"><br /><br /><br /><br />Jeff</a>
  </td>
  
</tr>
<tr>

  <td style="background-image: url(images/bryce.jpg);">
    <a href="http://cs.ucsb.edu/~bboe/"><br /><br /><br /><br />Bryce</a>
  </td>

  <td style="background-image: url(images/jon.jpg);">
    <a href="http://cs.ucsb.edu/~jkupferman/"><br /><br /><br /><br />Jonathan</a>
  </td>

  <td style="background-image: url(images/krithika.jpg);">
    <a href="http://cs.ucsb.edu/~krithika/"><br /><br /><br /><br />Krithika</a>
  </td>

</tr>
</table>

<br /><br /><br />
<div style="float: none; clear: both;">
</div>
 <p class="landing" style="text-align: center;"> Questions? Contact <b>support [at] torrentpho [dot] be </b> with any problems! </p>

</div>
