<h1 style="text-align: center;">Meet The Team</h1>
<div id="about" style="text-align: center; padding-left: 150px;">
  <a href="http://cs.ucsb.edu/~shashank/" alt="Shashank">
  <div id="shashank">
    <br /><br /><br />Shashank
  </div>
  </a>

  <a href="http://cs.ucsb.edu/~adoupe/" alt="Adam">
  <div id="adam">
    <br /><br /><br />Adam
  </div>
  </a>

  <a href="http://cs.ucsb.edu/~jbrowne/" alt="Jeff">
  <div id="jeff" style="clear: right;">
    <br /><br /><br />Jeff  
  </div>
  </a>

  <a href="http://cs.ucsb.edu/~bboe/" alt="Bryce">
  <div id="bryce">
    <br /><br /><br />Bryce  
  </div>
  </a>

  <a href="http://cs.ucsb.edu/~jkupferman/" alt="Jonathan">
  <div id="jonathan">
    <br /><br /><br />Jonathan
  </div>
  </a>
      
  <a href="http://cs.ucsb.edu/~krithika/" alt="Krithika">
  <div id="krithika">
    <br /><br /><br />Krithika
  </div>
  </a>

</div>
<br /><br /><br />
<div style="float: none; clear: both;">

</div>
 <p class="landing"> Questions? Contact <b>support [at] torrentpho [dot] be </b> with any problems! </p>


