<h1> Whoops! That page doesnt exist... </h1>

<p class="landing">Were sorry but the page you have requested does not (yet) exist. <br />
If you mistyped the url go ahead and change it in your address bar,
 otherwise you can <%= link_to "go back to the homepage", :controller => "landing", :action => "index" %> </p>

