

<h2>Lets get going!</h2><br />
<p class="landing">
So you have found our website and want to start using it, but you need a little help to get started. Have no fear! That is what this guide is for. If you are looking for a specific topic then feel free to skip to the links below to find your issue.
</p>
<br />
<a href="#login">1. Logging in to torrentphobe</a><br />
<a href="#download">2. Downloading torrent files</a><br />
<a href="#create">3. Creating torrents</a><br />
<a href="#create-utorrent">3a. Creating torrents with uTorrent</a><br />
<a href="#create-azures">3b. Creating torrents with Azures</a><br />
<a href="#create-transmission">3c. Creating torrents with Transmission</a><br />
<a href="#create-deluge">3d. Creating torrents with Deluge</a><br />
<br /><br />


<h2 id="login">1. Logging in to torrentphobe</h2>
<p class="landing">Do Stuff</p>
<br />
<h2 id="download">2. What is a torrent file and how do I download it?</h2>
<p class="landing">Do Stuff</p>
<br />
<h2 id="create">3. How do I create a torrent file to share with my friends?</h2>
<p class="landing">Do Stuff</p>
<br />
<h2 id="create-utorrent">3a. Creating torrents with uTorrent</h2>
<p class="landing">Do Stuff</p>
<br />
<h2 id="create-azures">3b. Creating torrents with Azures</h2>
<p class="landing">Do Stuff</p>
<br />
<h2 id="create-transmission">3c. Creating torrents with Transmission</h2>
<p class="landing">Do Stuff</p>
<br />
<h2 id="create-deluge">3d. Creating torrents with Deluge</h2>
<p class="landing">Do Stuff</p>
<br />


