 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>torrentpho.be</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag 'styles', :media => "all" %>

</head>
<div id="header">
</div>
<div id="main">

    <%= form_tag ({:action => 'uploadTorrent'}),
                            :multipart => true   %>
    <p style="text-align:center;"><label for="upload_file" style="color:white;">Upload Torrent File</label> :
    <%= file_field 'upload', 'torrentfile' %>
    <%= submit_tag "Upload" %></p>
    
    </form>
     <% if @uploaded=="uploaded" %>
    <p style="text-align:center; color:white;">

            "File has been uploaded successfully"

    </p>
	    <% end %>
</div>
<div id="footer">
	footer
</div>
<body>
   </body>
</html>