<h1>New torrent</h1>


<%= form_tag ({:action => 'uploadTorrentFile'}),
:multipart => true   %>
<p style="text-align:center;"><label for="upload_file">Upload Torrent File</label>
  <%= file_field 'upload', 'torrentfile' %>
  <%= submit_tag "Upload" %></p>

</form>

<%= link_to 'Back', torrents_path %>
