html {
  min-height: 100%;
  font-family: sans-serif;
}

body{
  background: #000 url(/images/fade.jpg) repeat-x bottom left;
  height: 100%;
  margin: 0 0 0 0;
}

#container {
  height: 100%;
  margin: 0 0 0 0
  min-width: 10%;
  padding: 0 60px;
}

#header{
  background: transparent url(/images/logo.jpg) no-repeat center center;
  min-height: 170px;
  text-align: right;
  width: 840px;
  margin: 0 auto;
}

#header a{
  color: #12bce7;
  font-weight: bold;
  margin: 40px 0 0 0;
}

#tabs {
  width: 840px;
  margin: 0 auto;
  height: 40px;
  background-image: url(/images/stripe.png);
}

#tabs ul {
  width: 600px;
  margin: 0;
  padding-left: 35px;
  list-style: none;
}

#tabs li {
  float: left;
  border-left: thin solid #ffffff;
}

#tabs li.last {
  border-right: thin solid #ffffff;
}

#tabs a {
  float: left;
  text-decoration: none;
  text-align: left;
  font-size: 17px;
  font-weight: 800;
  padding: 15px 25px 2px 5px;
  z-index: 5;
}

#tabs a:visited { color: #ffffff; }

a.main { 
  border-top: medium solid #ffffff;
  color: #ffffff;
}
a.bg {
  border-top: medium solid transparent;
  color: #dfdfdf;
}
a.bg:hover {
  border-top: medium solid #12bce7;
}

#search {
  padding: 7px 0 0 0;
  margin: 0 0 0 0;
  width: 295px;
  float: right;
  text-align: right;
  height: 25px;
}

#main {
  min-height: 500px;
  vertical-align: top;
  text-align: left;
}

#content {
  padding: 10px 20px 10px 20px;
  width: 800px;
  min-height: 520px;
  margin: 0 auto;
  background-color: #fff
}

#footer {
  padding-top: 5px;
  text-align: center;
  height: 100px;
  color: #fff;
}

#pretty-table td, #pretty-table th { padding: 3px; }
#pretty-table th { border-bottom: thin dotted #a0a0a0; }
#pretty-table td { border-bottom: thin solid #dfdfdf; }

#pretty-table tr.even td{ background-color: #EFF7FF; }
#pretty-table tr.odd td{ background-color: #FBFBFB; }
#pretty-table tr:hover td { background-color: #B9ECF2; }

p {
  text-align: left;
}

p.landing {
  color: #b8b8b8
}

#footer a, a.landing {
color: #fff
}

h1, h4 {
  color: #12bce7;
  font-size: x-large;
  font-weight:bold;
}

h2 {
  font-size: large;
  font-weight:bold;
  color: #fff
}

h3 {
  font-weight:bold;
  color: #12bce7;
  margin: 10px 0;
}

#headline p {
  text-align: right;
  vertical-align: top;
  padding: 10px 10px 0 0;
}

#headline a {
  margin-top: 20px;
}

a, #cloud a { text-decoration: none;}

a:hover { text-decoration: underline; }

a:visited { color: #3366FF; }

img {
  border-width: 0;
}

#flash-message {
  width: 100%;
  font-size: medium;
  font-weight: 500;
  text-align: center;
  padding: 8px 0;
}

.notice { background-color: #FFFF99; }
.warning { background-color: #FFBBBB; }
.message { background-color: #D0E6FF; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#cloud a:hover {
  text-decoration: underline;
}


.cloud1 { font-size: 0.9em; color: #6F6F6F; }
.cloud2 { font-size: 1.3em; color: #3BB9FF; }
.cloud3 { font-size: 1.6em; color: #306EFF; }
.cloud4 { font-size: 2.4em; color: #2B60DE; }

#tag-table {
  display: table;
}

#tag-col {
  display: table-column;
}

#inline { float: left; }
#inline { float: clear; }

#about a {
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color: transparent;
	font-weight: bold;
	font-size: 28px;
}

#about a:hover {
	color: #FFFFFF;
}

#adam, #bryce, #jeff, #shashank, #krithika, #jonathan {
	background-repeat: none;
	float: left;
	margin: 0 10px;
}

#jeff , #bryce {	clear: both; }

#adam {
	background-image: url(/images/adam.jpg);
	height: 240px;
	width: 110px;
}
#bryce {
	background-image: url(/images/bryce.jpg);
	height: 275px;
	width: 160px;
}
#jeff{
	background-image: url(/images/jeff1.jpg);
	height: 200px;
	width: 200px;
}
#shashank {
	background-image: url(/images/shashank.jpg);
	height: 250px;
	width: 170px;
}
#krithika {
	background-image: url(/images/krithika.jpg);
	height: 300px;
	width: 125px;
}
#jonathan {
 	background-image: url(/images/jon.jpg);
	height: 290px;
	width: 166px;
}

table    { display: table }
tr       { display: table-row }
thead    { display: table-header-group }
tbody    { display: table-row-group }
tfoot    { display: table-footer-group }
col      { display: table-column }
colgroup { display: table-column-group }
td, th   { display: table-cell }
caption  { display: table-caption }

