html {
	min-height:100%;
	font-family:Arial,Helvetica,"Bitstream Vera Sans",sans-serif
}

body {
	background:#000 url(/images/fade.jpg) repeat-x bottom left
}

body,#container {
	height:100%
}

body,#container,#search {
	margin:0 0 0 0
}

#container {
	min-width:10%;
	padding:0 60px
}

#header,#tabs {
	width:840px
}

#header,#header a.image,#tabs,#content,#team {
	margin:0 auto
}

#header a.image,#team a {
	display:block
}

#header a.image {
	background:transparent url(/images/logo.jpg) no-repeat center center;
	min-height:170px
}

#header a.image,#tabs ul {
	width:600px
}

#header a,h4,h1,h3 {
	color:#12bce7
}

#header a,h4,h1,h2,h3,#errorExplanation h2,#team a {
	font-weight:bold
}

#side,#search {
	float:right
}

#side {
	width:200px
}

#side,#search,#headline p {
	text-align:right
}

#tabs {
	background:url(/images/stripe.png);
	height:40px
}

#tabs ul {
	margin:0;
	padding-left:35px;
	list-style:none
}

#tabs li,#tabs a,#inline {
	float:left
}

#tabs li {
	border-left:thin solid #fff
}

#tabs li.last {
	border-right:thin solid #fff
}

#tabs a,#cloud a,a,#team a {
	text-decoration:none
}

#tabs a,#main,p,#errorExplanation h2 {
	text-align:left
}

#tabs a {
	font-size:17px;
	font-weight:800;
	padding:15px 25px 2px 5px;
	z-index:5
}

#tabs a:visited,a.main,#footer,a.landing,#footer a,h2,#errorExplanation h2,#team a:hover {
	color:#fff
}

a.main {
	border-top:medium solid #fff
}

a.bg {
	border-top:medium solid transparent;
	color:#dfdfdf
}

a.bg:hover {
	border-top:medium solid #12bce7
}

#search {
	padding:7px 0 0 0;
	width:295px;
	height:25px
}

#main {
	min-height:500px
}

#main,#headline p {
	vertical-align:top
}

#content {
  background-color: #fff;
	padding:10px 20px 10px 20px;
	width:800px;
	min-height:520px
}

#footer {
	padding-top:5px;
	height:100px
}

#footer,#flash-message,#team a {
	text-align:center
}

#pretty-table th,#pretty-table td {
	padding:3px
}

#pretty-table th {
	border-bottom:thin dotted #a0a0a0
}

#pretty-table td {
	border-bottom:thin solid #dfdfdf
}

#pretty-table tr.even td {
	background:#eff7ff
}

#pretty-table tr.odd td {
	background:#fbfbfb
}

#pretty-table tr:hover td {
	background:#b9ecf2
}

p.landing {
	color:#b8b8b8
}

h4,h1 {
	font-size:x-large
}

h2 {
	font-size:large
}

h3 {
	margin:10px 0
}

#headline p {
	padding:10px 10px 0 0
}

#headline a {
	margin-top:20px
}

a:hover,#cloud a:hover {
	text-decoration:underline
}

a:visited {
	color:#36f
}

img {
	border-width:0
}

#flash-message,#team a {
	width:100%
}

#flash-message {
	font-size:medium;
	font-weight:500;
	padding:8px 0
}

.notice {
	background:#ff9
}

.warning {
	background:#fbb
}

.message {
	background:#d0e6ff
}

#errorExplanation {
	background:#f0f0f0;
	width:400px;
	border:2px solid red;
	padding:7px;
	padding-bottom:12px;
	margin-bottom:20px
}

#errorExplanation h2 {
	background:#c00;
	padding:5px 5px 5px 15px;
	margin:-7px
}

#errorExplanation h2,#errorExplanation ul li {
	font-size:12px
}

#errorExplanation p {
	color:#333;
	margin-bottom:0;
	padding:5px
}

#errorExplanation ul li {
	list-style:square
}

.cloud1 {
	font-size:0.9em;
	color:#6f6f6f
}

.cloud2 {
	font-size:1.3em;
	color:#3bb9ff
}

.cloud3 {
	font-size:1.6em;
	color:#306eff
}

.cloud4 {
	font-size:2.4em;
	color:#2b60de
}

#tag-table,table {
	display:table
}

#tag-col,col {
	display:table-column
}

#team a {
	color:transparent;
	font-size:28px;
	height:99%
}

#team td {
	height:270px;
	width:160px
}

tr {
	display:table-row
}

thead {
	display:table-header-group
}

tbody {
	display:table-row-group
}

tfoot {
	display:table-footer-group
}

colgroup {
	display:table-column-group
}

th,td {
	display:table-cell
}

caption {
	display:table-caption
}


