html {
  min-height: 100%;
}

body{
  background: #000 url(/images/fade.jpg) repeat-x bottom left;
  height: 100%;
  margin: 0 0 0 0;
}

#container {
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 15% 0 15%;
}

#header{
  background: transparent url(/images/logo.jpg) no-repeat center center;
  min-height: 170px;
}

#header a{
  color: #12bce7;
  font-weight: bold;
  padding: 40px 10px 0 0;
  float: right;
  text-decoration: none;
}

#tabs {
  float: center;
  width: 440px;
  margin: 0px auto;
  height: 35px;
}

#tabs ul {
  list-style: none;
  padding: 0 0 0 0;
}

#tabs li {
  float: left;
  padding-left: 5px;
}

#tabs a {
  background-image: url(/images/tabs-all.png);
  float: left;
  height: 27px;
  width: 92px;
  text-decoration: none;
  text-align: center;
  color: #000;
  font-size: larger;
  font-weight: 800;
}

#tabs a { padding: 8px 0 0 3px; }

a.main { background-image: url(/images/tabs-all.png); }
a.bg { background-position: 0 78px; }
a.bg:hover { background-position: 0 39px; }

#main {
  min-height: 500px;
  vertical-align: top;
  text-align: left;
}

#content {
  padding: 10px 20px 10px 20px;
  width: 800px;
  min-height: 520px;
  margin: 0px auto;
  background-color: #fff
}

#footer {
  padding-top: 5px;
  text-align: center;
  height: 50px;
  color: #fff;
}

p {
  text-align: left;
}

p.landing {
  color: #b8b8b8
}

#footer a, a.landing {
color: #fff
}

h1, h4 {
  color: #12bce7;
  font-size: x-large;
  font-weight:bold;
}

h2 {
  font-size: large;
  font-weight:bold;
  color: #fff
}
