html {
  min-height: 100%;
  font-family: sans-serif;
}

body{
  background: #000 url(/images/fade.jpg) repeat-x bottom left;
  height: 100%;
  margin: 0 0 0 0;
}

#container {
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 15% 0 15%;
}

#header{
  background: transparent url(/images/logo.jpg) no-repeat center center;
  min-height: 170px;
  text-align: right;
}

#header a{
  color: #12bce7;
  font-weight: bold;
  margin: 40px 10px 0 0;
  text-decoration: none;
}

#tabs {
  width: 840px;
  margin: 0 auto;
  height: 35px;
}

#tabs ul {
  margin: 0;
  padding-left: 80px;
  list-style: none;
}

#tabs li {
  float: left;
  padding-left: 5px;
}

#tabs a {
  background-image: url(/images/tabs-all.png);
  float: left;
  height: 27px;
  width: 102px;
  text-decoration: none;
  text-align: center;
  color: #000;
  font-size: 17px;
  font-weight: 800;
}

#tabs a { padding: 8px 0 0 3px; z-index: 5;}

a.main { background-image: url(/images/tabs-all.png); }
a.bg { background-position: 0 78px; }
a.bg:hover { background-position: 0 39px; }

#search {
  width: 260px;
  float: right;
  text-align: right;
  height: 25px;
  padding-top: 7px;
}

#main {
  min-height: 500px;
  vertical-align: top;
  text-align: left;
}

#content {
  padding: 10px 20px 10px 20px;
  width: 800px;
  min-height: 520px;
  margin: 0 auto;
  background-color: #fff
}

#footer {
  padding-top: 5px;
  text-align: center;
  height: 50px;
  color: #fff;
}

table td, table th { padding: 3px; }
table th { border-bottom: thin dotted #c0c0c0; }
table td { border-bottom: thin dotted #dfdfdf; }

p {
  text-align: left;
}

p.landing {
  color: #b8b8b8
}

#footer a, a.landing {
color: #fff
}

h1, h4 {
  color: #12bce7;
  font-size: x-large;
  font-weight:bold;
}

h2 {
  font-size: large;
  font-weight:bold;
  color: #fff
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.cloud1 { font-size: 0.6em; color: #5CB3FF; }
.cloud2 { font-size: 0.9em; color: #3BB9FF; }
.cloud3 { font-size: 1.3em; color: #306EFF; }
.cloud4 { font-size: 1.6em; color: #2B60DE; }


