<h1>Torrents: <%=h @user.name %></h1>

<%= render :partial => "shared/torrents", :locals => { :torrents => @torrents, :display_seeders_and_leechers => true, :display_categories => true} %>

<br />
<br />

<br />
<%= button_to 'Back', users_path, :method => :get %>
