<div id="footer">
  <%= link_to 'Home', :controller => :landing %> |
  <%= link_to 'About', :controller => :landing, :action => :about %>
<br /><br /><a href="http://torrentpho.be">torrentpho.be</a> &copy; 2009
<br /><br /><br />
</div>
