
<br />
<div id="footer">
  <%= link_to 'Home', :controller => :landing %> |
  <%= link_to 'About Us', :controller => :landing, :action => :about %>
<br /><a href="http://torrentpho.be">torrentpho.be</a> &copy; 2009
</div>
