<% if users.length > 0 %>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% for user in users %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to "Profile", :action => :show, :id => user.id %></td>
    <td><%= link_to 'Uploaded Files', {:action => :files, :id => user.id} %></td>
  </tr>
<% end %>
</table>
<% else %>
No users available
<% end %>
<br />
