<h1>Tag Cloud</h1>

<% tag_cloud @tag_counts, %w(cloud1 cloud2 cloud3 cloud4) do |tag, css_class| %>
<%= link_to tag.name, { :action => :show, :id => tag.id }, :class => css_class %>
<% end %>
<br />
<br />

