<p>
  <b>Name:</b>
  <%=h @category.name %>
</p>

<p><b>Torrents in this category:</b></p>
<ul>
<% for torrent in @torrents %>
    <li><%=h torrent.name %></li>
<% end %>
</ul>

<%= link_to 'Back', categories_path %>
