<div style="text-align: center;" id="headline">
Go to: 
<%  @category.sort.each do |id,name| %>
  <h2 style="display: inline;"><%= link_to name, {:action => :show, :id => id} %> </h2>
<% end %>
</div>



<h1>Torrents By Category</h1>

<% @torrents_by_category.each do |category,torrents| %>
  <% if !torrents.nil?  %>
    <h3><%= @category[category] %></h3>
    <%= render :partial => "shared/torrents", :locals => {:torrents => torrents, :display_categories => false, :display_seeders_and_leechers => true, :allow_sorting => false } %>
     <div style="text-align: center;">
    <%= link_to 'More ' + @category[category]+"...", :controller => :categories, :action => :show, :id => category %>
    </div>
  <% end %>
<% end %>

<br />
