<h1>Categories: <%= @category.name %></h1>
<%= render :partial => "shared/torrents", :locals => {:current_user => @current_user, :torrents => @torrents, :display_categories => false, :display_seeders_and_leechers => true} %>


<br />


<%= button_to 'Back', categories_path, :method => :get %>
