<div id="headline">
  <table style="width: 100%;">
  <tr><td style="min-width: 70%;"><h1>Available Torrents</h1></td>
  <td style="min-width: 30%;">
  <p><%= link_to image_tag("add_cross.png")+' Add New Torrent', new_torrent_path, :class => :head %></p>
  </td>
  </div>
  </table>
</div>
<br />
<%= render :partial => "shared/torrents", :locals => {:current_user => @current_user, :torrents => @torrents, :display_categories => true, :display_seeders_and_leechers => true} %>

<br /><br />
