<div id="headline">
  <h1>Available Torrents</h1>
  <p><%= link_to image_tag("add_cross.png")+' Add new torrent', new_torrent_path, :class => :head %></p>
</div>
<br /><br />
<%= render :partial => "shared/torrents", :locals => {:torrents => @torrents, :display_categories => true} %>

<br /><br />
