<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en" xml:lang="en">
  <head>
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>torrentpho.be</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'styles', :media => "all" %>
  </head>
  <body style="background: #000 none;">
    <div id="container">
      <div id="header">
       <div id="side" style="float: left;">
          <h4 style="padding-top: 80px;margin-top: 0; text-align: left;">Welcome to...</h4> </div>
        <a class="image" href="http://torrentpho.be"><br /></a>
      </div>
      <div id="content" style="background-color: black;">
        <%= yield :layout %>
      </div>
        <%= render :partial => "shared/footer" %>
    </div>
  </body>
</html>
